{% extends "layout.html" %}

{% block content %}
<section data-theme="light" class="p-8 rounded-xl">
    <h3 class="text-2xl font-semibold mb-4">About Us</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolorum voluptates voluptate, placeat error neque nostrum? Cupiditate dicta iste inventore, minus quidem possimus eligendi totam suscipit mollitia provident obcaecati excepturi dolores commodi maiores aspernatur tenetur qui enim et nemo. Earum cum eaque modi voluptatum natus quod ipsum maxime provident quidem.</p>
    <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias amet maxime fugit suscipit esse alias error, aperiam recusandae perspiciatis. Debitis?</p>
</section>
{% endblock %}

{% block title %} Dashboard - About {% endblock %}