{% extends "layout.html" %}

{% block content %}
<section data-theme="light" class="p-8 rounded-xl">
    <h3 class="text-2xl font-semibold mb-4">Welcome to Dashboard</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere dicta dignissimos sequi recusandae id ab doloribus et! Nobis, corporis recusandae ipsum temporibus nisi doloremque laborum debitis. Alias aut laboriosam culpa exercitationem velit sed! Fugiat impedit veniam explicabo nemo, placeat corporis!</p>
</section>
{% endblock %}

{% block title %} Dashboard - Home {% endblock %}

